/* general */
:root {
  --title-font: "Pangolin", cursive;
  --text-font: "Poppins", sans-serif;
  --yellow-color: rgb(235, 226, 22);
  --blue-color: rgb(73, 151, 209);
  --green-color: rgba(81, 160, 62, 0.8);
  --red-color: rgba(204, 19, 18, 0.8);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: black url("../images/hysteria.webp") no-repeat center center /
    cover;
  min-height: 100vh;
}
.main-container {
  width: 95%;
  max-width: 600px;
  margin: 40px auto;
  border: 2px solid var(--blue-color);
  text-align: center;
  font-family: var(--text-font);
  background-color: rgba(255, 255, 255, 0.8);
}

/*intro*/

h1 {
  font-size: 25px;
  margin-top: 40px;
  font-family: var(--title-font);
}
h1 span {
  font-size: 45px;
  display: block;
}
h2 {
  font-style: italic;
}
h2,
.result p {
  font-size: 23px;
  font-weight: normal;
  padding: 10px 20px;
  margin-top: 30px;
}

/*quiz*/

#question-area {
  margin: 30px 0px;
  font-size: 25px;
  font-weight: bold;
}
#question {
  padding: 20px;
}
#answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#answers button {
  padding: 15px;
  font-size: 20px;
  margin: 0px 10px;
  border-radius: 30%;
  box-shadow: 0px 0px 31px 19px rgba(73, 151, 209, 0.4);
  display: none;
}
button:hover,
a:hover {
  cursor: pointer;
}

/*outro*/

#outro button,
.result button {
  padding: 10px 20px;
  font-size: 25px;
  margin: 40px 10px;
  border-radius: 30%;
  background-color: var(--yellow-color);
  font-family: var(--title-font);
}
#outro div {
  font-size: 25px;
  margin: 0 auto;
  font-weight: bold;
  font-family: var(--title-font);
  border: 2px solid var(--yellow-color);
  padding: 20px;
  width: fit-content;
  margin-bottom: 60px;
  border-radius: 30px;
}

/*result page*/

.result a {
  text-decoration: none;
  font-size: 110%;
  margin: 0px 10px;
  color: var(--blue-color);
}
.result p {
  line-height: 30px;
  text-align: justify;
}
h2 span {
  font-weight: bold;
}

/*works with functions*/

.right-background {
  background-color: var(--green-color);
}
.wrong-background {
  background-color: var(--red-color);
}

/*media query for tablet or bigger */

@media screen and (min-width: 768px) {
  .main-container {
    margin: 90px auto;
  }
  h2,
  .result p {
    padding: 20px;
  }
}
